@import "../variables.scss";

.container-tabs {
  display: flex;
  gap: 15px;
  > .tab {
    height: 30px;
    background-color: transparent;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
    transition: 0.3s ease all;
    border-radius: 4px;
    user-select: none;
    &.active {
      background-color: rgba(1, 97, 244, 0.15);
      color: $dark-gray;
      font-weight: 500;
    }
  }
}
