@import "../variables.scss";

.container-tree-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 0.5px solid #e9e9e9;
  min-height: calc(100vh - 112px);
  width: 30%;
  @media (max-width: $mobile) {
    width: 100%;
    min-height: initial;
    border-right: none;
    border-bottom: 0.5px solid #e9e9e9;
  }
  > .container-filters {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    > .input {
      width: 30%;
      height: 30px;
      border: 1px solid #d8dfe7;
      border-radius: 4px;
      color: #77818c;
      font-size: 0.75rem;
      font-family: "Roboto", sans-serif;
      padding: 0 12px;
      &:focus {
        outline: none;
      }
    }
    > .btn-filter {
      display: flex;
      height: 30px;
      padding: 0 12px;
      border: 1px solid #d8dfe7;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      background-color: $white;
      color: #77818c;
      font-weight: 500;
      gap: 5px;
      font-size: 0.75rem;
      transition: 0.3s ease all;
      user-select: none;
      &:hover {
        border-color: $main-blue;
      }
      &.active {
        color: $white;
        background-color: $main-blue;
        border-color: $main-blue;
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }

  .tree-view {
    width: 100%;
    > .title {
      font-size: 1.25rem;
      color: #141414;
    }
    ul {
      font-family: "Roboto", sans-serif;
      list-style-type: none;
      margin-left: 20px;
      padding-left: 0;
      font-size: 0.75rem;
    }

    li {
      font-family: "Roboto", sans-serif;
      margin: 5px 0;
      cursor: pointer;
      display: flex;
      flex-direction: column;

      .arrow-icon {
        margin-right: 8px;
        transition: transform 0.3s ease;

        &.expanded {
          transform: rotate(90deg);
        }
      }

      > .container-informations {
        display: flex;
        align-items: center;
        gap: 7px;
        transition: 0.3s ease all;
        &.selected {
          background-color: rgba(1, 97, 244, 0.15);
          padding: 5px;
          border-radius: 4px 0 0 4px;
        }
      }

      &::before {
        content: "";
        margin-right: 8px;
      }
    }

    li > ul {
      margin-left: 15px;
    }

    > .no-results {
      font-size: 0.75rem;
      color: #141414;
      font-weight: 500;
    }
  }
}

.component-details {
  width: 70%;
  padding: 0 20px;
  padding-top: 10px;
  @media (max-width: $mobile) {
    width: 100%;
    padding: 0;
  }
  > .title {
    color: #141414;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    @media (max-width: $mobile) {
    padding-top: 20px;
  }
  }
  > .container-infos {
    display: flex;
    gap: 15px;
    padding: 20px 0;
    border-bottom: 0.5px solid #d8dfe7;

    > .container-image {
      > .image {
        border-radius: 8px;
        width: 100%;
      }
    }
    > .content-infos {
      display: flex;
      flex-direction: column;
      gap: 20px;
      > .content-text {
        display: flex;
        flex-direction: column;
        gap: 5px;
        > .label {
          font-size: 0.875rem;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          color: #141414;
        }
        > .value {
          font-size: 0.75rem;
          color: #77818c;
        }
      }
    }
  }
}
